#accountDiv {
    border: 1px solid black;
    width: 40%;
    margin: 20px auto 30px;
    background-color: rgb(166, 213, 243);
    border-radius: 6px;
    color: black;
}
#logIn-username, #logIn-password, #signUp-username, #signUp-password {
    border: 1px solid black;
    border-radius: 6px;
}
.btn-style{
    background-color: #444b5b;
    color: aliceblue;
    height: 40px;
    width: 100px;
    border-radius: 4px;
    border: none;
}